.quiz_results_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 300px);
}
.quiz_results_title{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.quiz_results_result{
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.quiz_results_score{
    font-size: 30px;
    letter-spacing: 1px;
}
.quiz_results_point{
    margin-top: 65px;
    font-size: 20px;
    letter-spacing: 1px;
}