.article_list_container{
    min-height: 100vh;
    margin: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.article_list_loader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    height: calc(100vh - 200px);
}

.article_list_title{
    font-size: 30px;
    text-transform: uppercase;
    margin: 10px 0 50px;
    text-align: center;
    width: 80%;
    line-height: 35px;
}