.chosen_article_container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.chosen_article_title{
    text-transform: uppercase;
    width: 70vw;
    font-size: 45px;
    margin-top: 70px;
    font-family: 'Merriweather', sans-serif;
    line-height: 50px;
    text-align: left;

    @media(max-width: 900px){
        font-size: 35px;
    }

    @media(max-width: 600px){
        font-size: 25px;
        line-height: 35px;
        width: 80vw;
    }

    @media(max-width: 400px){
        font-size: 22px;
    }
}
.chosen_article_thumbtext{
    text-align: left;
    width: 70vw;
    font-size: 19px;
    margin-top: 15px;
    color: rgb(156, 156, 156);
    font-family: 'Merriweather', sans-serif;

    @media(max-width: 900px){
        font-size: 15px;
    }

    @media(max-width: 600px){
        font-size: 12px;
        width: 80vw;
    }

    @media(max-width: 400px){
        font-size: 11px;
    }
}
.chosen_article_img{
    margin-top: 35px;
    max-width: 70vw;

    @media(max-width: 600px){
        font-size: 12px;
        max-width: 80vw;
    }
}
.chosen_article_source{
    margin-top: 30px;
    a{
        color: rgb(103, 101, 141); 
        
    }

    @media(max-width: 500px){
        font-size: 12px;
        margin-top: 15px;
    }
}
.chosen_article_text{
    min-height: 300px;
    font-family: 'Merriweather', sans-serif;
    width: 70vw;
    font-size: 19px;
    margin-top: 30px;
    text-align: left;
    line-height: 40px;

    @media(max-width: 600px){
        font-size: 15px;
        width: 80vw;
        line-height: 35px;
    }

    @media(max-width: 400px){
        font-size: 14px;
        line-height: 35px;
    }
}
.chosen_article_bottomtext{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 90px;
    margin-bottom: 25px;
    text-align: center;

    @media(max-width: 400px){
        font-size: 16px;
        margin: 80px 10px 25px;
    }
}
.chosen_article_bottomline{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 60px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;

    @media(max-width: 900px){
        font-size: 15px;
    }

    @media(max-width: 400px){
        font-size: 10px;
    }
}
.chosen_article_quizbtn{
    font-family: 'Ropa Sans', sans-serif;
    animation: pulseButton 2.5s infinite;
    width: 190px;
    min-height: 50px;
    background-color: rgb(83, 101, 255);
    text-decoration: none;
    border-radius: 10px;
    font-size: 17px;
    color: white;
    transition: 0.2s;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: rgb(155, 179, 255);
        animation: pulseButton 1s infinite;  
    }

    @media(max-width: 400px){
        width: 170px;
        min-height: 40px;
    }
}

@keyframes pulseButton {
	0% {
		box-shadow: 0 0 5px rgba(rgb(0, 0, 0), 0.3);
	}

	50% {
		box-shadow: 0 0 20px 5px rgba(102, 117, 255, 0.575);
	}

	100% {
		box-shadow: 0 0 5px rgba(rgb(0, 0, 0), 0.3);
	}
}
.chosen_article_loginbtn{
    font-family: 'Ropa Sans', sans-serif;
    width: 190px;
    min-height: 50px;
    background-color: rgb(103, 101, 141); 
    border-radius: 10px;
    margin-bottom: 70px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    transition: 0.2s;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: rgb(120, 117, 165);  
    }
}
.chosen_article_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chosen_article_form_label{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 15px;

    @media(max-width: 400px){
        font-size: 15px;
    }
}
.chosen_article_form_textarea{
    margin-top: 15px;
    width: 400px;
    min-height: 150px;
    background: none;
    border: 1px solid white;
    border-radius: 15px;
    resize: none;
    font-family: 'Ropa Sans', sans-serif;
    color: white;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
    padding: 10px;

    @media(max-width: 900px){
        width: 90vw;
    }
}
.chosen_article_form_btn{
    font-family: 'Ropa Sans', sans-serif;
    width: 120px;
    min-height: 30px;
    background-color: rgb(103, 101, 141); 
    border-radius: 10px;
    margin-bottom: 40px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    transition: 0.1s;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: rgb(153, 163, 192);  
    }

    &:active{
        transform: translate(0, 2px);
    }
}