.forum_loader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    height: calc(100vh - 200px);
}
.forum_container{
    display: flex;
    flex-direction: column;
    min-height: 600px;
    margin: 40px 0;
}
.forum_comment{
    margin: 20px;
}
.forum_reply{
    color: blue;
    background-color: yellow;
    margin-top: 5px;
    width: 200px;
}