.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: rgb(34, 37, 46);
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.61);
    position: relative;
    transition: 1s;
}
.nav_shrinked{
    z-index: 10;
    transition: 0.8s ease-out;
    position: sticky;
    top: 0;
    animation: appear 0.8s ease-out;
    transform: translate(0, -60%);
    flex-direction: row;
    overflow: hidden;

    @keyframes appear {
        from {transform: translate(0, -100%);}
        to {transform: translate(0, -60%);}
    }
}
.nav_top{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nav_top_shrinked{

}
.nav_logo_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 310px;
}
.nav_logo_container_shrinked{
    position: absolute;
    bottom: 0;
    left: 5%;
    height: 80px;
    width: 220px;
}
.nav_logo_icon{
    height: 120px;
}
.nav_logo_icon_shrinked{
    height: 80px;
}
.nav_logo_text{
    text-decoration: none;
    color: white;
    font-family: 'Chathura', sans-serif;
    font-size: 75px;
    text-align: center;
    line-height: 40px;
    cursor: default;

    span{
        color: rgb(83, 101, 255);
    }
}
.nav_logo_text_shrinked{
    height: 80px;
    font-size: 55px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.nav_links_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav_links_container_shrinked{
    position: absolute;
    bottom: 0;
    right: 2%;
    height: 100px;
}
.nav_links{
    display: flex;
    margin-top: 15px;
}

.nav_links_item{
    margin: 0 30px;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    max-height: 20px;
    white-space: nowrap;
    transition: 0.7s;

    &:nth-child(4){
        color: rgb(253, 255, 107);
    }

    &:last-child{
        color: rgb(255, 58, 58);
    }

    &:hover{
        color: rgb(83, 101, 255);

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 8px solid rgb(83, 101, 255);
            animation: navLinkPopArrow 0.5s ease-out;
            
            @keyframes navLinkPopArrow {
                0% {
                    border-bottom: 0px solid rgb(83, 101, 255);
                }
                100% {
                    border-bottom: 8px solid rgb(83, 101, 255);
                }
            }
        }
    }

    span {
        color: rgb(255, 58, 58);
        margin: 0 2px;
    }
}

.nav_decor{
    width: 91%;
    border-top: 1px solid white;
}

.profileinfo_container{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 210px;
    height: 105px;
    background-color: rgb(57, 93, 146);
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 0 15px;
    right: 0;
    position: absolute;
    margin-right: 30px;
    margin-top: 20px;
}
.profileinfo_picture{
    height: 60px;
}
.profileinfo_level{
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(180, 215, 255);
}
.profileinfo_max_level{
    font-size: 13px;
    color: rgb(253, 255, 107);
}
.profileinfo_points{
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
}