.nav{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: rgb(34, 37, 46);
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.61);
    position: relative;
}
.nav_top{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nav_logo_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 310px;
}

.nav_logo_icon{
    height: 120px;
}

.nav_logo_text{
    text-decoration: none;
    color: white;
    font-family: 'Chathura', sans-serif;
    font-size: 75px;
    text-align: center;
    line-height: 40px;
    transition: 0.5s;
    cursor: default;

    span{
        color: rgb(83, 101, 255);
    }
}

.nav_links_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_links{
    display: flex;
    margin-top: 15px;
}

.nav_links_item{
    margin: 0 30px;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    max-height: 20px;
    white-space: nowrap;

    &:nth-child(4){
        color: rgb(253, 255, 107);
    }

    &:last-child{
        color: rgb(255, 58, 58);
    }

    &:hover{
        color: rgb(83, 101, 255);
        transition: 0.7s;

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 8px solid rgb(83, 101, 255);
            animation: navLinkPopArrow 0.5s ease-out;
            
            @keyframes navLinkPopArrow {
                0% {
                    border-bottom: 0px solid rgb(83, 101, 255);
                }
                100% {
                    border-bottom: 8px solid rgb(83, 101, 255);
                }
            }
        }
    }
}

.nav_decor{
    width: 91%;
    border-top: 1px solid white;
}

.profileinfo_container{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    height: 100px;
    background-color: rgb(62, 75, 190);
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    right: 0;
    position: absolute;
    margin-right: 30px;
    margin-top: 20px;

    p{
        margin: 10px 0;
    }
}
.profileinfo_picture{
    height: 60px;
}
.profileinfo_points{
    font-weight: 600;
    letter-spacing: 1px;
}