.register_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 40px 0;
    text-align: center;

    h1{
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}
.register_form_container{
    background-color: rgb(29, 29, 29);
    background-image: url(../resources/register-background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 550px;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 15px 25px 5px rgba(0, 0, 0, 0.534);

    @media(max-width: 1200px){
        background-image: none;
        width: 90vw;
        min-width: 250px;
    }
}

.register_form{
    transform: translate(62%, 0);
    width: 450px;
    text-align: center;

    @media(max-width: 1200px){
        transform: translate(0);
        width: 100%;
    }
}
.register_inputs_container{
    @media(max-width: 1200px){
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
.register_input_container{
    max-width: 100%;
}
.register_form_label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 460px;
    font-size: 20px;
    height: 55px;
    white-space: nowrap;

    p{
        font-size: 15px;
    }
    
    @media(max-width: 1200px){
        width: 40%;
        justify-content: space-between;
    }
    @media(max-width: 600px){
        width: 70%;
    }
}
.register_form_input{
    background: none;
    border: none;
    width: 300px;
    border-bottom: 1px solid white;
    margin: 15px 20px 5px;
    height: 25px;
    outline: none;
    color: white;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
    transition: 0.4s;

    &:focus{
        transform: scale(1.05);
    }

    @media(max-width: 1200px){
        display: flex;
        justify-content: center;
        width: 90%;
    }
}
.register_input_error{
    margin: 0 15px;
}
.register_form_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register_form_registerbtn{
    font-family: 'Ropa Sans', sans-serif;
    width: 160px;
    min-height: 35px;
    margin: 20px 0;
    background-color: rgb(85, 83, 117);
    border-radius: 10px;
    color: white;
    transition: 0.1s;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.267);

    &:hover{
        transform: translate(0, -2px);
        background-color: rgb(120, 117, 165);  
    }

    &:active{
        transform: translate(0, 0);
    }
}
.register_form_loginbtn{
    font-size: 13px;
    color: rgb(92, 92, 92);

    &:hover{
        color: rgb(72, 109, 209);
    }
}